name: CI

on:
  push:
    branches: ["main", "master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python deps
        run: |
          pip install flask flake8

      - name: Lint Python
        run: flake8 app || true

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Lint Helm chart
        run: helm lint helm/api || true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Validate Terraform
        run: |
          cd terraform
          terraform init -backend=false
          terraform validate

      - name: Build Docker image
        run: docker build -t devops-challenge-api .

