 name: GitHub Actions CI workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show repository structure
        run: |
          echo "Listing all files"
          ls -R

      - name: Validate Terraform
        working-directory: devops-challenge/terraform
        run: |
          terraform init -backend=false
          terraform validate
