on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show repository structure
        run: |
          echo "Listing project files"
          ls -R
          
      - name: Success message
        run: echo "CI Pipeline completed successfully!"
