 name: GitHub Actions CI workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show repository structure
        run: |
          echo "Current directory:"
          pwd
          echo "Files in repo:"
          ls -R
